
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  .underline{
    font-weight: 600;
    color: rgb(255, 2, 2);
  }
  .sub-login{
    align-items: center;
    width: 80%;
    margin: 1rem auto;
  }
  .register_success{
    width: 30%;
    margin: auto;
  }
  a, a:hover{
    color: inherit;
  }
  .image{
    position: relative;
  }
  .upload-image{
    border-radius: 50% !important;
    position: absolute;
    top: 55%;
    left: 55%;
    background-color: #fff;
  }
  .img-fluid{
    height: 70%;
  }