.sidebar {
  flex: 1;
  border-right: 0.5px solid #e6e3e3;
  min-height: 100vh;
  background-color: white;
}
.sidebar .top {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .top .logo {
  font-size: 20px;
  font-weight: bold;
  color: #6439ff;
}
.sidebar hr {
  height: 0;
  border: 0.5px solid #e6e3e3;
}
.sidebar .center {
  padding-left: 10px;
}
.sidebar .center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .center ul .title {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}
.sidebar .center ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.active-sidebar{
  background-color: #ece8ff;
}
.sidebar .center ul li:hover {
  background-color: #ece8ff;
}
.sidebar .center ul li .icon {
  font-size: 20px;
  color: #7451f8;
}
.sidebar .top .sub-icon{
  margin-bottom: 0;
}
.sidebar .top .sub-icon small {
  font-size: 12px;
  text-align: center;
  align-items: center;
  color: #7451f8;
  letter-spacing: 1px;
}
.sidebar .center ul li span {
  font-size: 15px;
  font-weight: 500;
  color: rgb(100, 98, 98);
  margin-left: 10px;
}

